.master_container{
    /* height: 120vh; */
    /* max-height: 150vh; */
    /* height: fit-content; */
    background: linear-gradient(135deg, #0B1623, #439E9F, #217974);
     padding-bottom: 25vh; 
    /* margin: 30px; */
}
.poora-container{
    height: fit-content !important;
}
.container{
    /* border: 2px solid red; */
    /* height: fit-content; */
    height: fit-content !important;

    display: flex;
    justify-content: space-around;
    position: relative;
    top: 4vh;
}

.profile{
    /* border: 2px solid red; */
    width: 18%;
    position: relative;
    /* left: 7%; */
    top: 6%;
    height: fit-content !important;

    background-color: white;
    border-radius: 10px;
    height: 35vh;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.profile img{
    padding: 10px;
}

img{
    height: 23vh;
    width: 23vh;
    border-radius: 50%;
    /* border: 0.2px solid grey; */
}

.avatar_box{
    text-align: center;
    position: relative;
    top: 7%;
}

.edit{
    position: relative;
    left: 6% !important;
    top: -4%;
    font-size: larger;
    cursor: pointer;
}


.username{
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-top: 0.5vh;
    padding: 30px;
}

.AddProfile{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.sub_name{
    text-align: center;
    color: rgb(112, 110, 110);
}

.action_buttons{
    position: relative;
    top: 60%;
    width: 30%;
    height: 35vh;
    left: 4.6%;
    align-items: center;
    /* background: #FFFFEC; */
    /* border: 2px solid red; */
}

.heading{
    font-size: 1.8rem;
    color: black;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1vh;
}

.parent_button{
    display: flex;
    position: relative;
    flex-direction: column;
    top: 20vh;
    gap: 2vh;
}